<p id="notice"><%= notice %></p>

<h1>Listing Breets</h1>

<table>
  <thead>
    <tr>
      <th>Breet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @breets.each do |breet| %>
      <tr>
        <td><%= breet.breet %></td>
        <td><%= link_to 'Show', breet %></td>
        <td><%= link_to 'Edit', edit_breet_path(breet) %></td>
        <td><%= link_to 'Destroy', breet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Breet', new_breet_path %>
